# Python bytecode files
*.pyc
__pycache__/

# Virtual environment
venv/
.env/

# Logs
logs/
*.log

# Snapshots
snapshots/

# Configuration files (if sensitive information is included)
config/config.json

# Swagger documentation
config/swagger.yaml

# IDE/editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
