# Python bytecode files
*.pyc
__pycache__/

# Virtual environment
venv/
.env/

# Logs
*.log

# Snapshots
snapshots/*.txt


# IDE/editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
